:root{
    --orange:#b700ff;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    background: var(--white-color);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px ;
    background: var(--white-color);
    width: 500px;
}
section h2{
    color: var(--black-color);
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: var(--black-color);
}